<div>
    <label for="name">Product title</label>
    <input type="text" id="name" [(ngModel)]="product.title">
  </div>
  <div>
    <label for="Lastname">Product name</label>
    <input type="text" id="Lastname" [(ngModel)]="product.pName">
  </div>
  <div>
    <label for="email">Product category</label>
    <input type="text" id="email" [(ngModel)]="product.category">
  </div>
  <div>
    <label for="phone">Product description</label>
    <input type="text" id="phone" [(ngModel)]="product.description">
  </div>
  
  <button (click)="save()">Submit</button>