<div>
    <label for="title">Product title</label>
    <input type="text" id="title" [(ngModel)]="product.title">
  </div>
  <div>
    <label for="pName">Product name</label>
    <input type="text" id="pName" [(ngModel)]="product.pName">
  </div>
  <div>
    <label for="category">Product category</label>
    <input type="text" id="category" [(ngModel)]="product.category">
  </div>
  <div>
    <label for="description">Product description</label>
    <input type="text" id="description" [(ngModel)]="product.description">
  </div>
  
  <button (click)="save()">Submit</button>