<div class="heading">
    <h2>Product List</h2>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Category Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody *ngFor="let categorys of categories">
      <tr>
        <td>{{categorys.categoryName}}</td>
        <td>
          <button class="btn btn-success" [routerLink]="['/Admin/Category-Details', categorys.id]">Edit</button>
          <button class="btn btn-danger" (click)="deleteUser(categorys.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>