<div class="heading">
  <h2>Product List</h2>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Name</th>
      <th>Category</th>
      <th>Description</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody *ngFor="let producs of product">
    <tr>
      <td>{{producs.title}}</td>
      <td>{{producs.pName}}</td>
      <td>{{producs.category}}</td>
      <td>{{producs.description}}</td>
      <td>{{producs.price}}</td>
      <td>
        <button class="btn btn-success" [routerLink]="['/Admin/Products-List', producs.id]">Edit</button>
        <button class="btn btn-danger" (click)="deleteUser(producs.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>