
<nav>
    <div class="logo">
        <h1><span>Online</span>Shopp.</h1>

    </div>
    <ul id="side-menu">
        <li><a routerLink="/Admin/Products">Products</a></li>
        <li><a routerLink="/Admin/Order">Order</a></li>
        <li><a routerLink="/Admin/Category">Categories</a></li>
        <li><a routerLink="/Admin/Products-List">Product-List</a></li>
        <li><a routerLink="/Admin/Category-List">Category-list</a></li>
        <li><a routerLink="/Admin/Order-List">Order-List</a></li>
    </ul>
</nav>



  <div>
  <h2>Admin page</h2>
  </div>
  <router-outlet></router-outlet>
