<div class="heading">
  <h2>Order List</h2>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>User Name</th>
      <th>Product Name</th>
      <th>Quantity</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td>{{ getUserNameByUserId(order.userId) }}</td>
      <td>{{ getProductNameByProductId(order.productId  ) }}</td>
      <td>{{ order.quantity }}</td>
      <td>
        <button class="btn btn-danger" (click)="deleteOrder(order.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
