<div class="heading">
  <h2>Order List</h2>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>User Name</th>
      <th>User Email</th>
      <th>User Phone Number</th>
      <th>Product Name</th>
      <th>Actions</th> <!-- Added Actions column for Delete button -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td>{{ order.userName }}</td>
      <td>{{ order.userEmail }}</td>
      <td>{{ order.userPhoneNumber }}</td>
      <td>{{ order.productName }}</td>
      <td>
        <button class="btn btn-danger" (click)="deleteOrder(order.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
